	<!-- NavBar to match with other .html files goes here-->
    <div class = "navbar navbar-expand-sm bg-dark navbar-dark fixed-top"> 
      <!-- Links -->
      <ul class="navbar-nav">
        <li id="navHome" class="nav-item active">
          <a class="nav-link" href="/homePage">
            <i class="fa fa-fw fa-home"></i>
            Home
          </a>
        </li>
        <li id="navTeam" class="nav-item">
          <a class="nav-link" href="/team">
            <i class="fa fa-fw fa-users"></i>
            Team
          </a>
        </li>
        <li id="navNews" class="nav-item">
          <a class="nav-link" href="/news">
            <i class="fa fa-fw fa-search"></i>
            News
          </a>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li id="navTrades" class="nav-item">
          <a class="nav-link" href="/search">
            <i class="fa fa-fw fa-search"></i>
            <i class="fa fa-fw fa-register"></i>
            Search
          </a>
        </li>
        <li id="navTrades" class="nav-item">
          <a class="nav-link" href="/trade">
            <i class="fa fa-fw fa-register"></i>
            Trade
          </a>
        </li>
        <li id="navProfile" class="nav-item">
          <a class="nav-link" href="/profile">
            <i class="fa fa-fw fa-user"></i>
            Profile
          </a>
        </li>
	<li id="navProfile" class="nav-item">
          <a class="nav-link" href="/login">
            <i class="fa fa-fw fa-user"></i>
            Login
          </a>
        </li>
      </ul>
    </div>
