<%- include('../partials/header') %>
 <!-- NavBar to match with other .html files goes here-->
<%- include('../partials/menu') %>

  <br>
  <br>
  <br>
<h1><b>Login Form</b></h1>

<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="../resources/img/user.png" alt="Avatar" class="avatar">
  </div>

  <div class="container" style="padding: 16px;">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <br>
    <a href="./profile">
      <button class="btn news-page-btn" style="padding: 10px 20px; font-size: 16px;" type="submit">
        Login
      </button>
    </a>
  </div>
  <div class="container" style="padding: 16px;">
    <a href = "./homePage">
      <button type="button" class="btn cancel-btn" >Cancel</button>
    </a>
    <br>
    <span style="float: center">Forgot <a href="#">password?</a></span>
    <span style="float: center">Don't have an account?  <a href="/register">Click To Register</a></span>
  </div>
</form>


<%- include('../partials/footer') %>
