<%- include('../partials/header') %>
<%- include('../partials/menu') %>

    <div class="jumbotron jumbotron-login-home">
        <div class="container">
            <h1 style="color: white;"><b>Welcome to Mockstock</b></h1>
            <h1 style="color: white;"><b>LOGIN or REGISTER below!</b></h1>
            <a class="a-register" href="./register.html">
             <button type="button" class="btn news-page-btn" style="font-size: 16px;">Register</button>
           </a>
           <br>
           <a class="a-register" href="./login.html">
             <button type="button" class="btn news-page-btn" style="font-size: 16px;">Login</button>
           </a>
        </div>
    </div>
    <div class="container">
      <p>Looking for a place to  trade <b>real</b> time stocks with <b>fake</b> money? <br> You're in luck! <br><br> Simply Login or Register to try out Mockstock. </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../resources/js/scripts.js"></script>
    
<%- include('../partials/footer') %>