<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%= my_title%></title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
  <!-- CSS -->
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- Custom styles for this template -->
	<link href="../../resources/css/style.css" rel="stylesheet">
	
  </head>
  <body>
    <%- include('../partials/menu') %>>
<br>
<br>
<br>
<div class="container pt-2">
    <form>
        <div class="form-group">
            <label for="inputSymbol">Enter Stock Symbol:</label>
            <input type="text" class="form-control" id="inputSymbol" placeholder="AAPL">
        </div>
        <button type="button" class="news-page-btn" onclick="getSymbol()">
          Submit
        </button>
    </form>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-right" id="header"></h1>
        </div>
        <div class="col-md-6">
          <img  id="image" class="float-left" style="width: 70px" />
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-6" id="name"></div>
        <div class="col-md-6" id="site"></div>
      </div>
    </div>
    <div class="col-md-6" id="stockData">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="error"></div>
  </div>
</div>
<script type="text/javascript" src="../../resources/js/ajax.js"></script>
<!-- jQuery and JS bundle w/ Popper.js -->
	      
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="../resources/js/ajax.js"></script>
</body>

</html>