<%- include('../partials/header') %>
<%- include('../partials/menu') %>
 
     
     <div class="container">
      <br><br>
       <h1 style="color: black">Welcome to MockStock </h1>
    <p>Team page</p> 
    <div class="container">
          <div class="container">
            <br>
            <div class="card">
              <div class="card-body">
              	<h1>Masri Mirna</h1>
               <p> computer science Student at CU Boulder</p> <a href="https://github.com/mirnama">Github Account</a>
        <div><img src="./resources/img/mirna.JPG" class="rounded-circle" alt="mirna" width="200xp" height="200xp"></div>
              </div>
            </div>
          </div>
          <br>
          <br>
        <div class="container">
            <br>
            <div class="card">
              <div class="card-body">
              	<h1>Hampton Walker</h1>
               <p> computer science Student at CU Boulder </p> <a href="https://github.com/hamptonwalker01">Github Account</a>
        <div><img src="./resources/img/hamton.png" class="rounded-circle" alt="Hampton" width="200xp" height="200xp"></div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="container">
          <div class="card">
              <div class="card-body">
              	<h1>Jack Blackburn</h1>
               <p> computer science Student at CU Boulder </p> <a href="https://github.com/StrangerChamber2">Github Account</a>
        <div><img src="./resources/img/jack.jpeg" class="rounded-circle" alt="John" width="200xp" height="200xp"></div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="card">
              <div class="card-body">
              	<h1>Jon Gordon</h1>
               <p> computer science Student at CU Boulder </p> <a href="https://github.com/jonsgordon">Github Account</a>
        <div><img src="./resources/img/john.jpeg" class="rounded-circle" alt="jack" width="200xp" height="200xp"></div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="card">
              <div class="card-body">
              	<h1>Nick Spooner</h1>
               <p> computer science Student at CU Boulder </p> <a href="https://github.com/nisp1104">Github Account</a>
        <div><img src="./resources/img/user.png" class="rounded-circle" alt="Nick" width="200xp" height="200xp"></div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="container">
          <div class="card">
              <div class="card-body">
              	<h1>Sage Long</h1>
               <p> computer science Student at CU Boulder </p> <a href="https://github.com/SageJamesLong">Github Account</a>
        <div><img src="./resources/img/user.png" class="rounded-circle" alt="Sage" width="200xp" height="200xp"></div>
              </div>
            </div>
          </div>
          <br>
          <br>
     </div>       
    </div>       
<%- include('../partials/footer') %>
